<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <title>Products in Stock</title>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title"
                        th:text="${product.name} + ' | $' + ${product.price}/100 + ' | Max: ' + ${product.maxProducts}"></h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tr>
                                <td>Id</td>
                                <td>Expiration Date</td>
                                <td align="right"><a th:href="@{/service/unit/add(code=${product.code})}">Add</a></td>
                            </tr>
                            <tr th:each="p : ${product.products}">
                                <td th:text="${p.id}"></td>
                                <td th:text="${#temporals.format(p.expirationDate, 'dd-MMMM-yyyy')}"></td>
                                <td align="right">
                                    <a th:href="@{/service/unit/remove(code=${product.code},id=${p.id})}">Remove</a>
                                </td>
                            </tr>

                        </table>
                        <tr>
                            <td><a th:href="@{/service}"
                                   class="btn btn-secondary btn-sm active" role="button"
                                   aria-pressed="true">Back</a></td>
                        </tr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>